# 1. HumanTree 예시 1 (다이아몬드, 돌 분류)

미미가 다음과 같은 순서로 특징을 골랐다 생각하고 Tree를 만들자.
1. 표면이 매끈하다.
2. 뾰족한 모서리가 적다. (5개 미만)
3. 무겁다. (무게 50 이상)

## 1.1 모듈 불러오기

In [1]:
import sys
sys.path.append("../")

from pandas import read_csv
from HumanTree import HumanTree
from utils import one_hot

## 1.2 데이터 불러오기

In [2]:
df = read_csv("../Datasets/diamond_rock_6ft.csv")
df

   hardness  brightness      표면   무게  모서리 개수     sort
0       3.1         4.7    매끈하다   50      12  diamond
1       4.6         4.9    매끈하다   45      24  diamond
2       3.9         4.7    매끈하다   40      18  diamond
3       4.4         4.6    매끈하다   55      24  diamond
4       4.9         4.5    매끈하다   45      30  diamond
5       2.9         1.3  울퉁불퉁하다   95       0     rock
6       3.4         1.6  울퉁불퉁하다   90       3     rock
7       3.3         1.2  울퉁불퉁하다   95       6     rock
8       3.6         1.2  울퉁불퉁하다  100       0     rock
9       2.7         1.3  울퉁불퉁하다  110       4     rock

## 1.3 One Hot Encoding을 통해서 '표면' 피처를 수치로 변환하기

In [3]:
df = one_hot(df, ['표면'])
df

   hardness  brightness   무게  모서리 개수     sort  표면_매끈하다  표면_울퉁불퉁하다
0       3.1         4.7   50      12  diamond        1          0
1       4.6         4.9   45      24  diamond        1          0
2       3.9         4.7   40      18  diamond        1          0
3       4.4         4.6   55      24  diamond        1          0
4       4.9         4.5   45      30  diamond        1          0
5       2.9         1.3   95       0     rock        0          1
6       3.4         1.6   90       3     rock        0          1
7       3.3         1.2   95       6     rock        0          1
8       3.6         1.2  100       0     rock        0          1
9       2.7         1.3  110       4     rock        0          1

## 1.4 HumanTree 인스턴스 만들기

In [4]:
featureList = ['hardness', 'brightness', '표면_매끈하다', '표면_울퉁불퉁하다', '무게', '모서리 개수', 'sort']
targetList = ['sort']
HT = HumanTree()
HT.start_train(featureList, targetList, df)

## 1.5 "표면이 매끄럽다"를 기준으로 두개의 가지 만들기

아래 start_train 이후, 아래와 같이 build_branch 를 하면 그림과 같이 나눠진다.

<p align="center"> <img src="./static/diamond_rock_split1.png" width="30%"/> </p>

In [5]:
HT.build_branch('표면_매끈하다', 0.5)

In [6]:
HT.select_node(1, 1)  # 선택은 깊이와 순서를 사용하여 할 수 있다.
HT.show()

   hardness  brightness  무게  모서리 개수     sort  표면_매끈하다  표면_울퉁불퉁하다
0       3.1         4.7  50      12  diamond        1          0
1       4.6         4.9  45      24  diamond        1          0
2       3.9         4.7  40      18  diamond        1          0
3       4.4         4.6  55      24  diamond        1          0
4       4.9         4.5  45      30  diamond        1          0

In [7]:
HT.select_node(1, 0)
HT.show()

   hardness  brightness   무게  모서리 개수  sort  표면_매끈하다  표면_울퉁불퉁하다
5       2.9         1.3   95       0  rock        0          1
6       3.4         1.6   90       3  rock        0          1
7       3.3         1.2   95       6  rock        0          1
8       3.6         1.2  100       0  rock        0          1
9       2.7         1.3  110       4  rock        0          1

## 1.5 "뾰족한 모서리가 적다 (5개 미만)"를 기준으로 두개의 가지 만들기

실행하면 다음과 같이 나눠진다.

<p align="center"> <img src="./static/diamond_rock_split2.png" width="30%"/> </p>

In [8]:
HT.select_node(1, 0)
HT.build_branch('모서리 개수', 5)

In [9]:
HT.select_node(2, 0)
HT.show()

   hardness  brightness   무게  모서리 개수  sort  표면_매끈하다  표면_울퉁불퉁하다
8       3.6         1.2  100       0  rock        0          1
9       2.7         1.3  110       4  rock        0          1
5       2.9         1.3   95       0  rock        0          1
6       3.4         1.6   90       3  rock        0          1

In [10]:
HT.select_node(2, 1)
HT.show()

   hardness  brightness  무게  모서리 개수  sort  표면_매끈하다  표면_울퉁불퉁하다
7       3.3         1.2  95       6  rock        0          1

## 1.6 매끈한 데이터중에서 "무겁다 (50 이상)"를 기준으로 두개의 가지 만들기

실행하면 다음과 같이 나눠진다.

<p align="center"> <img src="./static/diamond_rock_split3.png" width="50%"/> </p>

In [11]:
HT.select_node(1, 1)
HT.build_branch('무게', 50)

In [12]:
HT.select_node(2, 2)
HT.show()

   hardness  brightness  무게  모서리 개수     sort  표면_매끈하다  표면_울퉁불퉁하다
1       4.6         4.9  45      24  diamond        1          0
2       3.9         4.7  40      18  diamond        1          0
4       4.9         4.5  45      30  diamond        1          0

In [13]:
HT.select_node(2, 3)
HT.show()

   hardness  brightness  무게  모서리 개수     sort  표면_매끈하다  표면_울퉁불퉁하다
0       3.1         4.7  50      12  diamond        1          0
3       4.4         4.6  55      24  diamond        1          0